.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    height: 150px;
}

.icon {
    height: 50px;

    width: 50px;
}

.About_right {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.social {
    cursor: pointer;
    margin-right: 20px;


}

.About_outer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.h1 {
    margin-bottom: 10px;
}

.About_subtitle {
    margin-bottom: 10px;
}

.lineheight {
    line-height: 25px;
    color: black;
}

.About_mainImg {
    object-fit: cover;
    width: 400px;
    height: 600px;
    margin-right: 50px;
}
