.addSpotOuter {
    background-image: linear-gradient(to left, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(196, 47, 117) 57.5%, rgb(189, 30, 144) 75%, rgb(120, 18, 98) 100%);
    height: fit-content;
    display: flex;
    justify-content: center;
    caret-color: transparent;
}

.today {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 40px;
    color: white;
    font-weight: 600;
    caret-color: transparent;
}

.hostSoon {
    padding-top: 17px;
    padding-left: 30px;
    font-size: 17px;
    color: white;
    caret-color: transparent;

}

.addSpotInner {
    margin-right: 400px;



}

.listingButton {
    padding: 10px 10px;
    width: 170px;
    height: 15px;
    background-color: white;
    margin-left: 30px;
    margin-top: 35px;
    border-radius: 5px;
    caret-color: transparent;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: rgb(41, 41, 41);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 40px;
}

.listingButton:hover {
    box-shadow: 0px 0px 12px rgb(170, 170, 170);
}

.userSpotsInner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content
}

.userSpotsOuter {
    display: flex;
    justify-content: center;
}

.userSpotsTitle {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.userSpotsTitleOuter {
    display: flex;
    justify-content: center;
}
