li {
    color: black
}

body {
    margin: 0px;
}

.logoDiv {
    /* background-color: bisque; */
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    caret-color: transparent;
    margin-right: 50px;
}

.logo {
    width: 150px;
    height: 50px;
    /* object-fit: cover; */
}



.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
    height: 55px;
    width: 1550px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px
}

.outer {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: solid 1px rgba(208, 206, 206, 0.4);
    position: sticky;
    top: 0px;
}

.fileDiv {
    display: flex;
    flex-direction: row;
}

.hostLink {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
    cursor: pointer;
    caret-color: transparent;
    width: 125px
}
