.spotIDImage {
    height: 300px;
    width: 300px;
    object-fit: contain;
}


.reviewDiv {
    margin-top: 20px;
    border: solid 1px black;
}

.addReview {
    cursor: pointer;
    border: solid 1px black;
    padding: 5px;
    width: 150px
}
